<h1>Vous avez reçu une nouvelle demande de faveur !</h1>

<p>
  <strong>De :</strong> <%= @favor_request.sender.email %><br>
  <strong>Message :</strong> <%= @favor_request.message %>
</p>

<p>
  Connectez-vous à l'application pour répondre à cette demande.
</p>
